/* start CSS for character-creator screen*/
.character-creator-page {
  background-color: #2652ab;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
}

.character-card {
  border: solid;
  border-color: #2652ab;
  border-width: 4em;
  border-bottom-width: 4em;
  border-bottom-color: #2652ab;
  border-left-width: 4em;
  border-right-width: 4em;
}
.swipe-right {
  background-color: #79ba65;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
}
.swipe-left {
  background-color: #e8533c;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
}
.match-percent {
  border-radius: 50%;
  border-color: #deb309;
  border-style: solid;
  border-width: medium;
  border-spacing: inherit;
  display: inline-block;
  text-align: center;
  color: #deb309;
  padding: .5em;
  margin: .5em;
  font-family: Helvetica;
}
.enemy-percent {
  border-radius: 50%;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: medium;
  border-spacing: inherit;
  display: inline-block;
  text-align: center;
  color: #c4c4c4;
  padding: .5em;
  margin: .5em;
  font-family: Helvetica;
}
.online-status {
    width: 1em;
    height: 1em;
    border-spacing: inherit;
    border-width: thin;
    border-color: #406335;
    background-color: #79ba65;
    border-radius: 50%;
    float: right;
  }

#border-bottom {
  word-spacing: 5em;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: lighter;

}

.profile-header {
  color: #373738;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
  margin-bottom: 0;
  /* padding-top: .5em; */

}
.profile-header-bottom {
  color: #373738;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
  padding-top: .5em;
  margin-bottom: 0;
}
.profile-info {
  color: #2652ab;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica;
  padding-top: .5em;
}
.profile-text {
  color: #373738;
  font-size: 12px;
  font-family: Helvetica;
  margin-top: 0;
  margin-bottom: 0;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.profile-logopart1 {
  padding: .02em;
  padding-left: .1em;
  padding-right: .1em;
  font-style: italic;
  background-color: #f296c9;
  border-radius: 15%;
  border-color: #f296c9;
  border-width: thick;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: .1em;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 0 #2652ab, 4px -4px 0 #2652ab, -4px 4px 0 #2652ab, -4px -4px 0 #2652ab, 4px 0px 0 #2652ab, 0px 4px 0 #2652ab, -4px 0px 0 #2652ab, 0px -4px 0 #2652ab;
}
.profile-logopart2 {
  font-size: 34px;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 0 #6b91db, 4px -4px 0 #6b91db, -4px 4px 0 #6b91db, -4px -4px 0 #6b91db, 4px 0px 0 #6b91db, 0px 4px 0 #6b91db, -4px 0px 0 #6b91db, 0px -4px 0 #6b91db;
}
/* End CSS for character selector screen */
