/* start CSS for character-creator screen*/
.character-creator-page {
  background-color: #2652ab;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
}

#character-card1 {
  border: solid;
  border-color: #2652ab;
  border-width: 4em;
}
#swipe-right {
  background-color: #79ba65;
}
#swipe-left {
  background-color: #e8533c;
}
.match-percent {
  border-radius: 50%;
  border-color: #deb309;
  border-style: solid;
  border-width: bold;
  border-spacing: inherit;
  display: inline-block;
  text-align: center;
  color: #deb309;
  padding: .5em;
  margin: .5em;
  font-family: Helvetica;
}
.enemy-percent {
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border-width: bold;
  border-spacing: inherit;
  display: inline-block;
  text-align: center;
  color: grey;
  padding: .5em;
  margin: .5em;
  font-family: Helvetica;

}
#border-bottom {
  text-align: justify;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #2652ab;
  padding: 0px;
  word-spacing: 4em;
  font-family: Helvetica;

}
.profpic {
  padding: 1em;
}
.profile-header {
  color: #373738;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
  padding-top: .5em;

}
.profile-text {
  color: #373738;
  font-size: 12px;
  font-family: Helvetica;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.profile-logopart1 {
  font-style: italic;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: .1em;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 0 #2652ab, 4px -4px 0 #2652ab, -4px 4px 0 #2652ab, -4px -4px 0 #2652ab, 4px 0px 0 #2652ab, 0px 4px 0 #2652ab, -4px 0px 0 #2652ab, 0px -4px 0 #2652ab;
}
.profile-logopart2 {
  font-size: 34px;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 0 #6b91db, 4px -4px 0 #6b91db, -4px 4px 0 #6b91db, -4px -4px 0 #6b91db, 4px 0px 0 #6b91db, 0px 4px 0 #6b91db, -4px 0px 0 #6b91db, 0px -4px 0 #6b91db;
}
